name: "Publish"

on:
  push:
    tags:
      - "*"

permissions:
  contents: "read"
  # Needed to access the workflow's OIDC identity.
  id-token: "write"

jobs:

  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    environment:
      name: "publish"
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}

    steps:
    - name: "Checkout repository"
      uses: "actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846"

    - name: "Setup Python"
      uses: "actions/setup-python@13ae5bb136fac2878aff31522b9efb785519f984"
      with:
        python-version: "3.x"

    - name: "Install dependencies"
      run: |
        python -m pip install -r requirements/publish.txt

    - name: "Build dists"
      # Uses 'SOURCE_DATE_EPOCH' for build reproducibility.
      run: |
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) \
        python -m build

    # Create hashes of all the built distributables.
    # This is the input for "subject" of the SLSA builder.
    - name: "Generate hashes"
      id: hash
      run: |
        cd dist && echo "::set-output name=hashes::$(sha256sum * | base64 -w0)"

    - name: "Upload dists"
      uses: "actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8"
      with:
        name: "dist"
        path: "dist/"
        if-no-files-found: error
        retention-days: 5

  provenance:
    needs: ["build"]
    uses: "slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.2.0"
    permissions:
      actions: read
      id-token: write
      # contents: write is only needed to upload the
      # attestation to the GitHub release.
      contents: write
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      attestation-name: "artifacts.intoto.jsonl"
      upload-assets: true

  publish:
    name: "Publish"
    if: startsWith(github.ref, 'refs/tags/')
    needs: ["build", "provenance"]
    runs-on: "ubuntu-latest"
    environment:
      name: "publish"

    # Now that we've built and attested to the distributables
    # provenance we can upload them to PyPI and add to the GitHub release.
    steps:
    - name: "Download dists"
      uses: "actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741"
      with:
        name: "dist"
        path: "dist/"

    - name: "Publish dists to PyPI"
      uses: "pypa/gh-action-pypi-publish@5d1679fa6b895587c6eb10c3fe82205b440a580e"
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}

    - name: "Upload dists to GitHub Release"
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: |
        gh release upload ${{ github.ref_name }} dist/* --repo ${{ github.repository }}
